*{
    box-sizing: border-box;
    font-family:'Roboto';
    font-style:normal;
}

.hidden{
    display:none;
}

.app {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.play {
  width: 100%;
  height: auto;
  margin-top:60px;

  display: flex;
  justify-content: space-around;
  gap:22%;
}

.play img {
  width: 400px;
  height: 467px;
}

.play > div {
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choose-word {
    width:240px;
    height:60px;
    border-radius:8px;
    border: #27AE60;
    background-color:#27AE60;

    display:flex;
    justify-content: center;
    align-items:center;
}

.choose-word p{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color:#ffffff;
}

.play > div > div{
    display:flex;
    justify-content: center;
    align-items: center;
}

.playing-word p, .wrong-word p, .right-word p{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    margin-right: 15px;
}

.playing-word {
    color: #000000;
}

.wrong-word {
    color:#FF0000;
}

.right-word{
    color:#27AE60;
}

.leters {
    width: 60%;
    height:120px;
    margin:70px auto;

    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    gap:25px;
}

.leter:disabled{
    width:60px;
    height:60px;
    background-color:#9FAAB5;
    border: 1px solid #7AA7C7;
    border-radius:3px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    color:#798A9F;
}

.leter {
    width:60px;
    height:60px;
    background-color:#E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius:3px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    color:#798A9F;
}

span{
    display:flex;
}

.guess{
    width:52%;
    height:70px;

    display:flex;
    align-items:center;
    justify-content:space-between;
}

.guess div{
    width:18%;
    height:auto;

    display:flex;
    justify-content: center;
    align-items:center;
}

.guess p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color:#000000;
    text-align: center;
}

.guess input {
    width:60%;
    height:100%;
    background-color:#ffffff;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-size:20px;
}

.guess button{
    width:15%;
    height:100%;
    background-color:#E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color:#3C76A1;
}